<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.modules.menu.mapper.SysMenuMapper">
    <!--查询父级菜单列表-->
    <select id="treeList" resultType="com.admin.modules.menu.vo.SysMenuVo">
		SELECT
			m.*
		FROM
			sys_menu m
		WHERE
			m.parent_id = 0
		AND
			m.hidden = 1
	</select>

    <!--查询子菜单列表-->
    <select id="childrenList" resultType="com.admin.modules.menu.vo.SysMenuVo">
		SELECT
			m.*
		FROM
			sys_menu m
		WHERE
			m.parent_id = #{id}
		AND
			m.hidden = 1
 	</select>

	<!--获取菜单列表-->
	<select id="selectMenuList" resultType="com.admin.modules.menu.vo.SysMenuVo">
		SELECT
			sm.*
		FROM
			sys_menu sm
		WHERE
		 	sm.parent_id = 0
		<if test="menuName != null and menuName != ''">
		AND sm.menu_name like concat('%', #{menuName}, '%')
		</if>
		ORDER BY
			sm.create_time DESC
	</select>

	<!--菜单下拉选择-->
	<select id="selectList" resultType="com.admin.modules.menu.vo.MenuSelectVo">
		SELECT
			sm.id AS id,
			sm.menu_name AS menuName
		FROM
			sys_menu sm
		WHERE
		 	sm.parent_id = 0
	</select>
</mapper>
